# Checkpoints SAM (demasiado grandes para git)
models/*.pth
models/*.pt

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Entornos virtuales
.venv/
venv/
env/
.env

# Resultados temporales
resultados_segmentacion/
*.tmp

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
