streamlit>=1.35.0
torch
torchvision
git+https://github.com/facebookresearch/segment-anything.git
opencv-python-headless
numpy<2.0.0
scikit-learn
scikit-image
matplotlib
Pillow
rasterio
streamlit-image-coordinates